.prjtLinks {
  padding: 10px;
  background-color: bisque;
  margin: 0px 3px 0 3px;
  border-radius: 10%;
}

.prjtLinkDiv {
  position: relative;
  bottom: 40px;
}

.mainPrjtLinkDiv {
  position: relative;
  bottom: 33px;
}

.AllProject {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AllProject h5, h4 {
  color: black;
}

#mainPrjt {
  display: flex;
  height: 250px;
  background-color: rgb(104, 64, 64);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 15px;
}

.rEftTitle {
  margin: 0px;
  position: relative;
  top: 23px;
  padding: 8px;
  background-color: antiquewhite;
  border-radius: 4px;
}

.mainPrjtImg {
  width: 500px;
}

.PrjtDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PrjtDiv h5 {
  position: relative;
  width: 30%;
  top: 60px;
  padding: 8px;
  background-color: antiquewhite;
  border-radius: 4px;
}

.sidePrjts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sidePrjtImg {
  height: 334px;
  width: 500px;
  border-radius: 3%;
}
