ul {
    list-style: none;
    margin: 15px;
}

li {
    margin-right: 35px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.technology {
    background-color: darkgray;
    border-radius: 30px;
}

#experience {
    color: salmon;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px){

    .technology {
        width: 350px;
    }
   }