ul {
    list-style: none;
    width:400px;
    margin: 15px;
}

li {
    margin-right: 35px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#experience {
    display: flex;
    flex-direction: column;
}
